@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* === PRIMARY COLORS === */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* === GRADIENTS COLORS === */
  --gradient1: linear-gradient(0deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --gradient2: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  /* === NEUTRAL COLORS === */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 89%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* === OTHER COLOR SETTINGS === */
  --color-of-the-second-part-of-the-mark: hsla(224, 30%, 27%, 0.6);
  --background-color-of-the-reaction-section: hsla(0, 100%, 67%, 0.1);
  --background-color-of-the-memory-section: hsla(39, 100%, 56%, 0.1);
  --background-color-of-the-verbal-section: hsla(166, 100%, 37%, 0.1);
  --background-color-of-the-visual-section: hsla(234, 85%, 45%, 0.1);

  /* === TYPOGRAPHY === */
  --font-size: 1.125rem;
  --normalFontWeight: 500;
  --boldFontWeight: 700;
  --extraBoldFontWeight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  /* === MOBILE DESIGN === */
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  row-gap: 3.5vh;
}

@media screen and (min-width: 650px) {
  body {
    /* === DESKTOP DESIGN === */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    width: 55%;
    margin-inline: auto;
  }
}

p,
h3 {
  font-family: "HankenGrotesk";
}

.upperPart {
  /* === MOBILE DESIGN === */
  background: var(--gradient1);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.65rem;
  height: 45vh;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  .upperPart {
    width: 25%;
    height: 100%;
    border-radius: 2rem;
    row-gap: 2.1rem;
    flex-grow: 1;
  }
}

#yourResult {
  /* === MOBILE DESIGN === */
  font-size: calc(var(--font-size) * 0.8);
  font-weight: var(--normalFontWeight);
  margin-top: 1.3rem;
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  #yourResult {
    margin-top: 0.65rem;
  }
}

.score {
  /* === MOBILE DESIGN === */
  background: var(--gradient2);
  display: flex;
  flex-direction: column;
  width: 6.625rem;
  height: 6.625rem;
  align-items: center;
  border-radius: 100%;
}

#seventySix {
  /* === MOBILE DESIGN === */
  font-weight: var(--extraBoldFontWeight);
  font-size: calc(var(--font-size) * 2.5);
  margin-top: 0.8rem;
}

#of100 {
  /* === MOBILE DESIGN === */
  font-size: calc(var(--font-size) * 0.67);
  opacity: 0.6;
}

#Observation {
  /* === MOBILE DESIGN === */
  font-weight: var(--normalFontWeight);
  font-size: calc(var(--font-size) * 1.0625);
}

#scoreReveal {
  /* === MOBILE DESIGN === */
  font-size: calc(var(--font-size) * 0.75);
  margin-inline: 4.4rem;
  text-align: center;
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  #scoreReveal {
    font-size: calc(var(--font-size) * 0.7);
    margin-inline: 1.9rem;
    flex-grow: 1;
    margin-bottom: 0.65rem;
  }
}

.lowerPart {
  /* === MOBILE DESIGN === */
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  .lowerPart {
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    flex-grow: 1;
  }
}

.lowerPart h3 {
  /* === MOBILE DESIGN === */
  margin: 0 10vw;
  font-size: calc(var(--font-size) * 1.0625);
  color: var(--dark-gray-blue);
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  .lowerPart h3 {
    align-self: flex-start;
    margin: 0.5rem 0 0 10%;
    font-size: calc(var(--font-size) * 0.85);
  }
}

.lowerPart > div {
  /* === MOBILE DESIGN === */
  display: flex;
  column-gap: 0.7rem;
  align-items: center;
  margin: 0 10vw;
  height: 7vh;
  padding: 0 1rem;
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  .lowerPart > div {
    width: 90%;
    font-size: calc(var(--font-size) * 0.8);
  }

  .lowerPart .sections{
    flex-shrink: 1;
  }

  .sections > * {
    flex-shrink: 1;
  }

  .sections > * > p {
    flex-shrink: 1;
  } 
}

.lowerPart > #reactionSection {
  /* === MOBILE DESIGN === */
  background-color: var(--background-color-of-the-reaction-section);
  border-radius: 0.5rem;
}

.lowerPart > #memorySection {
  /* === MOBILE DESIGN === */
  background-color: var(--background-color-of-the-memory-section);
  border-radius: 0.5rem;
}

.lowerPart > #verbalSection {
  /* === MOBILE DESIGN === */
  background-color: var(--background-color-of-the-verbal-section);
  border-radius: 0.5rem;
}

.lowerPart > #visualSection {
  /* === MOBILE DESIGN === */
  background-color: var(--background-color-of-the-visual-section);
  border-radius: 0.5rem;
}

.lowerPart > div > p {
  /* === MOBILE DESIGN === */
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.lowerPart > div > p > #reaction {
  /* === MOBILE DESIGN === */
  color: var(--light-red);
  font-weight: var(--boldFontWeight);
}

.lowerPart > div > p > #memory {
  /* === MOBILE DESIGN === */
  color: var(--orangey-yellow);
  font-weight: var(--boldFontWeight);
}

.lowerPart > div > p > #verbal {
  /* === MOBILE DESIGN === */
  color: var(--green-teal);
  font-weight: var(--boldFontWeight);
}

.lowerPart > div > p > #visual {
  /* === MOBILE DESIGN === */
  color: var(--cobalt-blue);
  font-weight: var(--boldFontWeight);
}

.lowerPart > div > p > .mark {
  /* === MOBILE DESIGN === */
  font-weight: var(--boldFontWeight);
  color: var(--dark-gray-blue);
}

.lowerPart > div > p > .mark > .secondPartOfTheMark {
  /* === MOBILE DESIGN === */
  color: var(--color-of-the-second-part-of-the-mark);
}

button {
  /* === MOBILE DESIGN === */
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  margin: 0 10vw;
  color: var(--white);
  background-color: var(--dark-gray-blue);
  font-family: "HankenGrotesk";
  font-weight: var(--boldFontWeight);
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  button {
    width: 90%;
    margin: 0;
    padding: 0.5rem 1rem;
    margin-bottom: .5rem;
  }
}

.wrapper {
  /* === MOBILE DESIGN === */
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}

@media screen and (min-width: 650px) {
  /* === DESKTOP DESIGN === */
  .wrapper {
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    flex-grow: 1;
    box-shadow: 1rem 1.5rem 3rem 1rem rgba(0, 0, 0, 0.1);
  }
}
