@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* === PRIMARY COLORS === */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* === GRADIENTS COLORS === */
  --gradient1: linear-gradient(0deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --gradient2: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  /* === NEUTRAL COLORS === */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 89%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* === TYPOGRAPHY === */
  --font-size: 1.125rem;
  --normalFontWeight: 500;
  --boldFontWeight: 700;
  --extraBoldFontWeight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  row-gap: 3.5vh;
}

p,
h3 {
  font-family: "HankenGrotesk";
}

.upperPart {
  background: var(--gradient1);
  color: var(--white);
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#yourResult {
  font-size: calc(var(--font-size) * 0.8);
  font-weight: var(--normalFontWeight);
  flex-grow: 2;
}

.score {
  background: var(--gradient2);
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}

.lowerPart {
  flex-grow: 6;
}

#scoreReveal {
  font-size: calc(var(--font-size) * 0.75);
  flex-grow: 3;
}

#seventySix {
  font-weight: var(--extraBoldFontWeight);
  font-size: calc(var(--font-size) * 2.5);
}

#of100 {
  font-size: calc(var(--font-size) * 0.67);
}

#Observation {
  font-weight: var(--boldFontWeight);
  font-size: calc(var(--font-size) * 1.67);
  flex-grow: 1;
}
